.background{
  background-image: url(background3.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-login {
  width: 400px;
  margin: 0 auto;
}

.user-login__title {
  font-size: 40px;
  color: #1DD1A1;
  margin-bottom: 50px;
  text-align: center;
}

.user-login__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-login__form-control label {
  margin-bottom: 5px;
  color: whitesmoke;
  font-size: 26px;
  font-family: Luminari, fantasy;
}

.user-login__form-control input {
  border-radius: 4px;
  border: 1px solid blue;
  height: 36px;
  padding: 5px 10px;
}

.user-login__form-control input:focus {
  outline: 0;
  border-color: #5988df;
}

.user-login__submit-button {
  width: 100%;
  margin-top: 30px;
}

.user-login__error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
